:root {

  --active-btn-color: #64B5F6;
  --active-btn-hover-color: #42A5F5;
  --active-task-bg-color: #0288D1;
  --active-mark-btn-color: #81C784;
  --active-mark-btn-hover-color: #66BB6A;
  --active-edit-btn-hover-color: #42A5F5;
  --delete-btn-color: #d32f2f;
  --delete-btn-hover-color: #b71c1c;
  --inactive-task-bg-color: #757575;
  --edit-state-edit-btn-color: #0D47A1;
  --edit-state-edit-btn-hover-color: #1565C0;
  --task-font-size: 2em;
  --sans-serif-font: 'Roboto', sans-serif;

}
.body {
  background: linear-gradient(#7E57C2,#651FFF);
  padding: 0;
  margin: 0;
  min-width: 500px;
  display: border-box;
}

.container {
  margin: 0 auto;
  width: 75%;
  padding: 20px;
  min-width: 500px;
  max-width: 700px;
  font-family: 'Merriweather', serif;


}

.container * {
  transition-property: background-color,box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

}



/******************************
GENERAL RULES
*******************************/


.header {
  background-color: #212121;
  padding: 20px;
  margin-bottom: 20px;
  font-family: var(--sans-serif-font);
}

.header--heading {
  text-align: center;
  color: #FAFAFA;
  margin: 0;
}

.input {
  outline: none;
}

.input--text {
  outline: inherit;
  font-size: 1.5em;
  padding: 10px 10px;
  height: 60px;
  width: 75%;
}

.shadow {
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

.shadow:hover {
  background-color: #E0E0E0;
}

.shadow:active {
  box-shadow: none;
}

.input--button {
  outline: inherit;
  font-size: 1.5em;
  height: 60px;
  padding: 10px 20px;
  width: 25%;
  display: inline-block;
}

.list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  cursor: default;
  transition-property: background-color,box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.task-title {
  letter-spacing: 1px;
  font-family: var(--task-font-size);
  font-size: 2em;
  flex-basis: 50%;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-btn {
  outline: none;
  cursor: pointer;
  padding: 20px;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

.task-btn:active {
  transform: scale(0.98);
}

.task-edit-input {
  font-size: var(--task-font-size);
  text-align: center;
  outline: none;
}

.warning {
  border: 3px solid var(--delete-btn-color);
  animation: shake 0.5s;
  box-sizing: content-box;
}

@keyframes shake {
  0% { transform: translate(1px)}
  10% { transform: translate(-1px)}
  20% { transform: translate(-3px)}
  30% { transform: translate(3px)}
  40% { transform: translate(1px)}
  50% { transform: translate(-1px)}
  60% { transform: translate(-3px)}
  70% { transform: translate(3px)}
  80% { transform: translate(-1px)}
  90% { transform: translate(1px)}
  100% { transform: translate(1px)}
}


/******************************
ACTIVE STATE
*******************************/
.active-state {
  background-color: var(--active-task-bg-color);
}

.active-state .mark-btn {
  background-color: #81C784;
}

.active-state .mark-btn:hover {
  background-color: #66BB6A;
}

.active-state .edit-btn {
  background-color: var(--active-btn-color);
}

.active-state .edit-btn:hover {
  background-color: var(--active-btn-hover-color);
}

.active-state .delete-btn {
  background-color: var(--active-btn-color);
}
 
.active-state .delete-btn:hover {
  background-color: var(--delete-btn-color);
  color: white;
}

.active-state .delete-btn:active {
  background-color: var(--delete-btn-hover-color);
}

.active-state .task-edit-input,
.inactive-state .task-edit-input {
  display: none;
}

.active-state {
  box-shadow: 0 10px 6px -6px #777;
}


/*************************
INACTIVE STATE
***************************/
.inactive-state {
  background-color: var(--inactive-task-bg-color);
}

.inactive-state .mark-btn {
  background-color: var(--delete-btn-color);
}

.inactive-state .mark-btn:hover {
  background-color: var(--delete-btn-hover-color);
}

.inactive-state .edit-btn {
  cursor: not-allowed;
  transform: none;
}

.inactive-state .delete-btn {
  background-color: var(--delete-btn-color);
}

.inactive-state .delete-btn:hover {
  background-color: var(--delete-btn-hover-color);
}

/*******************************
EDIT STATE
********************************/


.edit-state {
  background-color: var(--active-task-bg-color);
}

.edit-state .task-title {
  display: none;
}

.edit-state .edit-btn {
  background-color: var(--edit-state-edit-btn-color);
  color: white;
}

.edit-state .edit-btn:hover {
  background-color: var(--edit-state-edit-btn-hover-color);
}

.edit-state .delete-btn {
  cursor: not-allowed;
}

.edit-state .mark-btn {
  cursor: not-allowed;
}

.edit-state .task-edit-input {
  
}

.edit-state .mark-btn,
.edit-state .delete-btn {
  transform: none;
}





