/* Styles go here */
.body {
  background-color: #E3F2FD;
  padding: 0;
  margin: 0;
  min-width: 500px;
}

.container {
  margin: 0 auto;
  width: 75%;

  padding: 20px;
  min-width: 500px;
  max-width: 700px;

}

.container * {
  transition-property: background-color,box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

}



/******************************
BASIC STATE
*******************************/


.header {
  background-color: #212121;
  padding: 20px;
  margin-bottom: 20px;
}

.header--heading {
  text-align: center;
  color: #FAFAFA;
  margin: 0;
}

.input {
  outline: none;
}

.input--text {
  outline: inherit;
  font-size: 1.5em;
  padding: 10px 10px;
  height: 60px;
}

.shadow {
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

.shadow:active {
  box-shadow: none;
}

.input--button {
  outline: inherit;
  font-size: 1.5em;
  height: 60px;
  padding: 10px 20px;
  margin-left: 20px;

}

.list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px;
  box-shadow: 0 10px 6px -6px #777;
  margin: 10px 0;
  background-color: #0288D1;
  cursor: default;
  transition-property: background-color,box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.container * {
  transition-property: background-color,box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

}


.task--btn {
  outline: none;
  cursor: pointer;
  width: 70px;
  border: none;
}

.task--btn:active {
  transform:scale(0.99);
}

.task-edit-input {
  flex-basis: 50%;
  text-align: center;
}

.task--title {
  flex-basis: 50%;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
}

.delete:hover {
  background-color:#d32f2f;
  color: white;
}

.delete:active {
  background-color:#b71c1c;
}

.edit:hover {
  background-color:#42A5F5;
}


/*************************
UNACTIVE STATE
***************************/
.btn-disabled {
  cursor: not-allowed;
}

.flatten {
  box-shadow: 0 5px 3px -3px #777;

}

.grey {
  background-color: grey;
  box-shadow:0 6px 6px -6px #777;
}

.hidden {
  display: none;
}





/**************************
COLORS
***************************/

.active-green {
  background-color: #81C784;

}

.active-green:hover {
  background-color:#66BB6A;
}

.dark-green {
  background-color: #0D47A1;
  color: white;

}

.dark-green:hover {
  background-color: #1565C0;
}

.light-btn-color {
  background-color: #64B5F6;
}

.red {
  background-color:#d32f2f;
  color: white;
}

.yellow {
  background-color: #fae596;
}
